<nb-layout>
    <nb-layout-column class="main">   
         <!-- <div class="container vh-100">
                <div class="row justify-content-center h-100">
                    <div class="card my-auto shadow">
                    <nb-reveal-card>
                        <nb-card-front>
                          <nb-card status="success">
                            <nb-card-body>
                                <div class="nb-card-header">
                                    <img src="../../../assets/image/LogoN.png" height="45px" width="100vh">
                                </div>
                                <div class="card-body px-5">
                                    <div class="text-center">
                                        <h2 style="color: white;">Welcome</h2>
                                    </div>
                                    <p style="color: black; text-align: center;">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Please enter your login
                                        details&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                                    <form [formGroup]="addUserform" (ngSubmit)="onSubmit()">
                                        <div class="alert alert-danger" *ngIf="error">
                                            {{error}}
                                        </div>
                                        <div class="form-group">
                                            <label class="sr-only" for="inlineFormInputGroup">Resturant Id</label>
                                            <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">  <div class="i"> 
                                                    <i class="fas fa-mobile"></i>
                                            </div></div>
                                            </div>
                                            <input type="text" class="form-control" placeholder="ResturantId" formControlName="slug">
                                            <span class="message" style="color:red;" *ngIf="slug && slug.invalid && slug.touched">Resturant Id is invalid</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="sr-only" for="inlineFormInputGroup">Username</label>
                                            <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text"><div class="i"> 
                                                    <i class="fas fa-user"></i>
                                            </div></div>
                                            </div>
                                            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Username" formControlName="user_name">
                                            <span class="message" style="color:red;" *ngIf="username && username.invalid && username.touched">Username is invalid</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="sr-only" for="inlineFormInputGroup">Username</label>
                                            <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">  
                                                    <div class="i"><i class="fas fa-lock"></i>
                                                    </div>
                                
                                                </div>
                                            </div>
                                            <input [type]="showPassword ? 'text' : 'password'" name="password" class="form-control" placeholder="Password" formControlName="password">
                                            <span class="message" style="color:red;" *ngIf="password && password.invalid && password.touched">Password is not valid</span> -->
                                            <!-- <nb-icon (click)="togglePasswordVisibility()" icon="eye-off-2-outline">{{showPassword?'visibility_off':'visibility'}}</nb-icon>
                                            </div>
                                        </div>
                                        <input type="submit" class="btn btn-primary w-100" value="Login" name="">
                                    </form>
                                </div>
                                <div class="card-footer text-right">
                                    <p>forgot-password</p>
                                </div>
                            </nb-card-body>
                        </nb-card>
                    </nb-card-front>
                    <nb-card-back>
                        <nb-card> -->
                          <!-- <nb-card-header>
                            <div class="nb-card-header">
                                <img src="../../../assets/image/LogoN.png" height="45px" width="100vh">
                            </div>
                          </nb-card-header> -->
                          <!-- <nb-card-body>
                            <div class="card-body px-5">
                                <div class="text-center">
                                    <h2>Reset Password </h2>
                                </div>
                                <p style="color: lightslategray; text-align: center;">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Please enter the details 
                                    details&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                                <form [formGroup]="restform">
                                    <div class="form-group">
                                        <label class="sr-only" for="inlineFormInputGroup">Resturant Id</label>
                                        <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">  <div class="i"> 
                                                <i class="fas fa-mobile"></i>
                                        </div></div>
                                        </div>
                                        <input type="text" class="form-control" placeholder="ResturantId" formControlName="slug">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="inlineFormInputGroup">Email</label>
                                        <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <div class="i"><i class="fas fa-envelope"></i>
                                            </div>
                                        </div>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Email" formControlName="email">
                                        </div>
                                    </div>
                                    <input type="submit" class="btn btn-primary w-100 mb-150" value="Forgot Password" name="" (click)="reset()">
                                </form>
                            </div>
                            <div class="card-footer text-right mb-150"> -->
                                <!-- <small class="mb -300"><a routerLink="../forgot-password">Forgot Password</a></small> -->
                            <!-- </div>
                          </nb-card-body>
                        </nb-card>
                      </nb-card-back>
                    </nb-reveal-card>
                    
                </div>
            </div>
        </div>   -->
        <div class="login-container">
            <nb-card>
              <nb-card-header>
                <div class="d-flex justify-content-center align-items-center">
                  <div class="text-center">
                    <h1 class="mb-2">Welcome To</h1>
                    <img src="../../../assets/image/LogoN.png" height="80px" width="200px">
                  </div>
              
                </div>
              </nb-card-header>
              <nb-card-body>
                <div class="login-form-container">
                  <nb-flip-card [showToggleButton]="false" [flipped]="flip">
                    <nb-card-front>
                      <nb-card class="border-0">
                        <nb-card-body>
                          <form [formGroup]="addUserform">
                            <div class="alert alert-danger" *ngIf="error">
                                {{error}}
                            </div>
                            <div class="form-group">
                              <label class="label"><nb-icon icon="smartphone-outline"></nb-icon> ResturantId</label>
                              <input formControlName="slug" nbInput fullWidth placeholder="Enter ResturantId" status="primary"
                                     [class.is-invalid]="addUserform.get('slug')?.invalid && (addUserform.get('slug')?.touched || addUserform.get('slug')?.dirty)">
                              <span class="invalid-feedback">
                                <i class="fa fa-exclamation-triangle"></i> ResturantId is required
                              </span>
                            </div>
                            <div class="form-group">
                              <label class="label"><nb-icon icon="person-outline"></nb-icon> Username</label>
                              <input formControlName="user_name" nbInput fullWidth placeholder="Enter username" status="primary"
                                     [class.is-invalid]="addUserform.get('user_name')?.invalid && (addUserform.get('user_name')?.touched || addUserform.get('user_name')?.dirty)">
                              <span class="invalid-feedback">
                                <i class="fa fa-exclamation-triangle"></i> Username is required
                              </span>
                            </div>
                            <div class="form-group">
                              <label class="label"><nb-icon icon="lock-outline"></nb-icon>Password</label>
                              <nb-form-field>
                                <input [type]=" hide ? 'password' : 'text'" formControlName="password" nbInput fullWidth placeholder="Enter password" status="primary"
                                       [class.is-invalid]="addUserform.get('password')?.invalid && (addUserform.get('password')?.touched || addUserform.get('password')?.dirty)">
                                <span class="invalid-feedback">
                                  <i class="fa fa-exclamation-triangle"></i> Password is required
                                </span>
                                <button nbSuffix nbButton ghost (click)="showHidePassword()">
                                  <nb-icon   class="pw-icon" status="basic"  [icon]="hide ? 'eye-off-outline':'eye-outline'"></nb-icon>
                                </button>
                              </nb-form-field>
                            </div>
                            <div class="mt-4 mb-4">
                              <button   nbButton fullWidth status="primary" (click)="onSubmit()">Login</button>
                            </div>
                          </form>
                          <div class="text-center">
                            <span class="link" (click)="flip = true">Forgot Password?</span>
                          </div>
                        </nb-card-body>
                      </nb-card>
                    </nb-card-front>
                    <nb-card-back>
                      <nb-card class="border-0">
                        <nb-card-body>
                          <form [formGroup]="restform">
                            <div class="form-group">
                              <label class="label"><nb-icon icon="person-outline"></nb-icon> Username </label>
                              <input formControlName="username" nbInput fullWidth placeholder="Enter username" status="primary">
                    
                              <span class="invalid-feedback">
                                <i class="fa fa-exclamation-triangle"></i> Username is required
                              </span>
                            </div>
                            <div class="form-group">
                              <label class="label"><nb-icon icon="email-outline"></nb-icon> Email</label>
                              <input formControlName="username" nbInput fullWidth placeholder="Enter username" status="primary">
                    
                              <span class="invalid-feedback">
                                <i class="fa fa-exclamation-triangle"></i> Email is required is required
                              </span>
                            </div>
                            <div class="mt-4 mb-4">
                              <button  nbButton fullWidth status="primary" (click)="reset()">Proceed</button>
                            </div>
                          </form>
                          <div class="mb-3">
                            <span class="link" (click)="flip = false">
                              <nb-icon icon="arrow-ios-back-outline"></nb-icon> Back To Login
                            </span>
                          </div>
                        </nb-card-body>
                      </nb-card>
                    </nb-card-back>
                  </nb-flip-card>
                </div>
              </nb-card-body>
            </nb-card>
          </div>
 
    </nb-layout-column>
<nb-layout>
