<div class="box1">
  <a href="#" class="navbar-brand mb-0 h1">
    <img class="d-inline-block align-top" src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp" width="30" height="30"/>
    Navbar
  </a>
</div>

<div class="box1">
  <div ngbDropdown>
    <button class="btn" id="dropdownBasic1" ngbDropdownToggle><nb-icon icon="person-outline">
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <nb-menu [items]="items">
        </nb-menu>
      </div>
    </nb-icon>
    </button>
  </div> 
</div> 
