      <!-- <div class="row">
            <div class="col">
               
            </div>
            <div class="col md-8">
                hello
            </div>
            <div class="col md-8">
                
            </div>
        </div>
       -->
 
<!-- <div class="container"> -->
     <!-- <a class="navbar-brand" href="#">
        <img src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp"
                height="15"
                alt="MDB Logo"
                loading="lazy"/>
    </a>
    
    <div ngbDropdown class="d-flex justify-content-end">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle><nb-icon icon="person-outline">
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <nb-menu [items]="items">
            </nb-menu>
          </div>
        </nb-icon>
        </button>
    </div>  -->

    <!-- <div class="row align-items-start">
        <div class="col-4">
            <img src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp"
            height="15"
            alt="MDB Logo"
            loading="lazy"/>
        </div>
        <div class="col-4">hello</div>
        <div class="col-4 justify-content-end">
            <div ngbDropdown>
                <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle><nb-icon icon="person-outline">
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <nb-menu [items]="items">
                    </nb-menu>
                  </div>
                </nb-icon>
                </button>
            </div> 
        </div>
    </div>
</div>
     -->
<!-- <div class="container"></div>      -->

<div class="box">
  <a href="#" class="navbar-brand mb-0 h1">
    <img class="d-inline-block align-top" src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp" width="30" height="30"/>
    Navbar
  </a>
</div>
<div class="box">
  <div ngbDropdown>
    <button class="btn" id="dropdownBasic1" ngbDropdownToggle><nb-icon icon="person-outline">
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <nb-menu [items]="items">
        </nb-menu>
      </div>
    </nb-icon>
    </button>
  </div> 
</div> 

<!-- <div class="container">
  new wala
</div>
<div class="container">
  new wala
</div>
<div class="container">
  new wala
</div> -->